SECRET_KEY=
DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_BOT_TOKEN=
TELEGRAM_URL=

COMPOSE_CONVERT_WINDOWS_PATHS=
PG_DATA_PATH=



SECRET_KEY=django-insecure-%$w-ph3igxx)2%i@^mkhsh(#5^e2qzo31y%sr220j(+27e^z)=
DEBUG=True

SECRET_KEY=django-insecure-%$w-ph3igxx)2%i@^mkhsh(#5^e2qzo31y%sr220j(+27e^z)=
DEBUG=True

POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=foxship@yandex.ru
EMAIL_HOST_PASSWORD=jwhkbgjjodmtyhes
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True

TELEGRAM_BOT_TOKEN=7526132139:AAEcAAsu4N-r1Q7lCQiII-gV1a1zdix2jio
TELEGRAM_URL=https://api.telegram.org/bot

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

COMPOSE_CONVERT_WINDOWS_PATHS=1
